/*

.gitignore

*.log
*.json
*.vcd
*.mem
*.pyc
!flist.f
!flist_rtl.f

!*/
!*.v
!*.sv
!*.svh
!Makefile
!*.c
!*.h
!*.cpp
!*.py
!*.md
!*.yml
!*.yaml
!.gitignore

/obj_dir/
/coverage/
/log/
/C_model/cmodel_tests
**/__pycache__/
/UVM/obj_dir/
/UVM/
